@import "tailwindcss";

@theme {
    --color-terminal-bg: oklch(27.4% 0.006 286.033);

    --animate-cursor: blink 1s infinite;

    @keyframes blink {
        0%,
        49% { opacity: 1; }
        50%,
        100% { opacity: 0; }
    }

}